<div class="container">
  <h1> About </h1>
  <h2> this is the about section, which shows the page project </h2>
  <p> during the semester this project will be developed in which this page will be seen pro </p>
</div>